@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@theme {
  --font-display: "Playfair Display", serif;
}

@layer base {
  html {
    overscroll-behavior: none;
  }
  body {
    @apply bg-[#f7f7f5] text-[#0f0f0f] font-sans antialiased overflow-x-hidden m-0 p-0 cursor-auto;
  }

  /* Desktop Only: Hide default cursor for custom one */
  @media (min-width: 1024px) {
    body {
      cursor: none;
    }
  }

  ::selection {
    @apply bg-[#38b5e8] text-white;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#0f0f0f];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#333] rounded;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 5;
}
